- @recipe.each_slice(3) do |recipes|
	.row{:style => "margin-left: 30px; margin-right: 30px;"}
		- recipes.each do |recipe|
			.col-sm-4
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image.url(:medium)
					%h2= link_to recipe.title, recipe